:root {
  /* Fonts */
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;

  /* Colors */
  --main-dark-color: #000;
  --main-light-color: #fff;
  --accent-color: #2196f3;
  --main-color: #757575;
  --secondary-color: #212121;
  --fird-color: #f5f4fa;
  --main-bc-color: #e5e5e5;
  --secondary-bc-color: #2f303a;
  --border-color: #ececec;
  --sec-border-color: #eeeeee;
  --icon-color:#AFB1B8;
  

  /* paddings */
  --in-top-gap: 94px;
  --in-bottom-gap: 94px;
}

body {
  background-color: var(--main-light-color);
  color: var(--main-color);
  font-family: var(--main-font-family);
  font-size: 16px;
}

/* common css */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.section {
  padding: 94px 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link,
.mail-ref,
.phone-ref,
.logo {
  text-decoration: none;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.accent {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
}

/* end common css */

/* header */
.header {
  background-color: var(--main-light-color);
  border-bottom: 1px solid var(--border-color);
  padding-top: 25px;
  padding-bottom: 25px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.12;
  color: var(--main-dark-color);
  letter-spacing: 0.03em;
  display: block;
}

.menu {
  margin-left: 95px;
}

.menu-list {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-mail {
  /* align-self: center;
  display: flex;
  align-items: center; */
  margin-right: 30px;
}

/* .contact-mail::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--main-light-color);
  background-image: url(../image/svg/envelope.svg);
  outline: 1px solid red;
  margin-right: 10px;
} */

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.menu-link:hover,
.menu-link:focus,
.footter-mail:hover {
  color: var(--accent-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.btn-tytle:hover,
.btn-tytle:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

.mail-ref,
.phone-ref {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mail-ref:hover,
.mail-ref:focus {
  color: var(--accent-color);
}

.mail-ref {
  display: flex;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  order: -1;
  align-self: center;
}

.mail-icon:hover,
.mail-icon:focus {
  fill: var(--accent-color);
}

.phone-ref {
  align-self: center;
  align-self: center;
  display: flex;
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  order: -1;

}

/* header end */

/* main */

/* шапка */

.hat {
  background-color: var(--secondary-bc-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-size: 1600px auto; */
}

/* .overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-image: url(../image/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 1px solid red;
  text-align: center;
} */

.hat > .container {
  text-align: center;
}

.hat-tytle {
  font-weight: 900;
  width: 700px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn-tytle {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--main-light-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.portfolio-btn {
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
  color: var(--main-dark-color);
  background-color: var(--fird-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.peculiarities-list,
.portfolio-list {
  background-color: var(--main-light-color);
  display: flex;
  justify-content: center;
}
.portfolio-list {
  margin-bottom: 50px;
}

.peculiarities-item {
  width: 270px;
}

.peculiarities-item:not(:last-child) {
  margin-right: 30px;
}

.portfolio-item + .portfolio-item {
  margin-left: 8px;
}

.peculiarities-item::before {
  content: "";
  display: inline-flex;
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--fird-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-bottom: 30px;
  /* outline: 1px solid red; */
}

.icon-antena::before {
  background-image: url(../image/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../image/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../image/svg/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../image/svg/astronaut.svg);
}

.content-tytle {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* шапка-конец */

/* actyvity */

.section.actyvity {
  padding-top: 0;
}

.actyvity-tytle,
.team-tytle {
  font-family: inherit;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.actyvity-list {
  display: flex;
  justify-content: center;
}
.actyvity-item:not(:last-child) {
  margin-right: 30px;
}

/* actyvity end */

/* team */

.team {
  background-color: var(--fird-color);
}

.team-hero {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.job-title {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-item {
  background-color: var(--main-light-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.work-pos {
  padding: 30px 0;
}



.team-list {
  display: flex;
  justify-content: center;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.social-network {
  display: flex;
  justify-content: center;
}

.social-network-item:not(:last-child) {
  margin-right: 10px;
}

.social-network-link {
  color: var(--icon-color);
  border-radius: 50%;
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: var(--accent-color) ;
  color: var(--main-light-color);
}

.social-network-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  }

.social-network-icon:hover,
.social-network-icon:focus  {
  fill:var(--main-light-color);
}

/* team-end */

/* clients */

.clients {
  background-color: var(--main-bc-color);
}

.clients-tytle {
  color:var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

 .clients-item:not(:last-child) {
   margin-right: 30px;
 }

.clients-link {
  color: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  }

.clients-link:hover,
.clients-link:focus {
  color:var(--accent-color);
  border:1px solid var(--accent-color);

}

 
.clients-icon {
  fill:currentColor;
}


.first {
  width: 41px;
  height:47px;
}

.second {
  width: 40px;
  height: 52px;
}

.third {
  width: 43px;
  height: 41px;
}

.fourth {
  width: 84px;
  height: 41px;
}

.fifth {
width: 63px;
height: 45px;
}

.sixth {
  width: 94px;
  height: 44px;
}


.clients-icon:hover, 
.clients-icon:focus {
  fill:var(--accent-color);
}

/* main end */

/* footer */
.footer {
  background-color: var(--secondary-bc-color);
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.map-link {
  color: var(--main-light-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}

.footter-mail,
.footer-phone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

.studio {
  color: var(--main-light-color);
}
.footer .logo {
  margin-bottom: 20px;
}

.adress-list > .item:not(:last-child) {
  margin-bottom: 9px;
}

/* footer end */

/* main p2 */

.exemple-sign {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  text-align: left;
  margin-bottom: 5px;
}

.exemple-category {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-color);
  text-align: left;
  letter-spacing: 0.03em;
}

.card-tytle {
  padding: 20px 24px;
  border-left: 1px solid var(--sec-border-color);
  border-right: 1px solid var(--sec-border-color);
  border-bottom: 1px solid var(--sec-border-color);
}

.сurrent {
  color: var(--accent-color);
}

.exemple-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.adress-footer-wraper  {
  margin-right: 70px;
}
 

.social-footer-tytle {
  color: var(--main-light-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.in-footer {
  background: rgba(255, 255, 255, 0.1);
  color:var(--main-light-color)
} 

.in-footer:hover, .in-footer:focus {
background-color: var(--accent-color);
}



